.items {
    position: absolute;
    bottom: 0px;
}

* {
    font-family: 'Yanone Kaffeesatz';
    vertical-align: top;
}

em {
    font-family: 'Exo 2';
    font-style: normal;
    font-size: 115%;
    line-height: 1;
}

.item {
    color: #fff;
    overflow: hidden;
    font-weight: 700;
    margin-top: 20px;
}

.item-header-content {
    background: rgba(20, 5, 38, 0.8);
    float: left;
    padding-right: 15px;
    position: relative;
}

.item .item-icon {
    width: 80px;
    height: 80px;
    float: left;
    position: relative;
}

.item .item-icon:before {
    content: ' ';
    width: 100%;
    height: 50%;
    position: absolute;
    border-top: 2px solid rgba(255,255,255,0.5);
    border-left: 2px solid rgba(255,255,255,0.5);
}

.item .item-header {
    overflow: hidden;
    cursor: pointer;
}

.item .item-info-btn {
    width: 80px;
    float: left;
    background: rgba(255, 255, 255, 0.15);
    text-align: center;
    font-family: 'Exo 2';
    font-weight: bold;
    font-style: italic;
    height: 80px;
    font-size: 60px;
    text-indent: -8px;
    position: relative;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}

.item .item-info-btn:hover {
    background: rgba(255, 255, 255, 0.3);
}

.item .item-info-btn:after {
    content: ' ';
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.5);
}



.item {
    overflow: hidden;
}

.item .item-header-container {
    float: left;
    overflow: hidden;
    padding: 10px;
    font-size: 18px;
}

.item-header .item-title {
    font-size: 20px;
}

.item-header .item-price {
    font-family: 'Exo 2';
    font-size: 18px;
}

.item-header .item-count {
    font-family: 'Exo 2';
    font-size: 56px;
    float: right;
}

.item .item-price {
    font-size: 30px;
}

.item .item-icon img {
    width: 100%;
    height: 100%;
}

.item-content {
    overflow: hidden;
    background: rgba(20, 5, 38, 0.8);
    padding: 15px;
}

.item-description {
    font-family: 'Exo 2';
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;
}

.item-header-content:after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 5%;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    width: 90%;
}

.item-footer {
    overflow: hidden;
    background: rgba(20, 5, 38, 0.8);
}

.item-footer-block {
    width: 50%;
    float: left;
    text-align: center;
}

.item-footer-block, .item-footer-block * {
    font-family: 'Exo 2';
    font-size: 27px;
    font-weight: 700;
}

.item-footer-block strong {
    color: #8e8e8e;
}

.money, .money-diff {
    color: #fff;
    font-family: 'Exo 2';
    font-weight: 800;
}

.money-info {
    position: absolute;
    width: 470px;
}

.money {
    text-align: center;
    font-size: 58px;
}

.money-diff {
    text-align: center;
    font-size: 35px;
}