html, body {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

body {
    color: #fff;
    font-family: 'Exo 2';
    background: url(../images/gagarin_bg_4x.jpg);
    transition: 4s all;
}

.pointer {
    cursor: pointer;
}

.top {
    height: 200px;
}

.top .logo img {
    width: 100%;
}

.top .logo {
    position: absolute;
    width: 100%;
    transition: 1s all;
    top: -200px;
}

.moon .js-moon-dynamic {
    position: relative;
}

.top .logo img {
    position: absolute;
}

.main .top .logo {
    top: 0;
}

.moon img.moon-main {
    width: 400px;
    display: block;
    position: absolute;
    margin-left: -216px;
    margin-top: -216px;
    transition: 0.2s all;
}

.moon img.moon-circle {
    width: 432px;
    margin-left: -232px;
    margin-top: -234px;
}

.moon {
    transition: 1s all;
    top: 270px;
    right: -50px;
    cursor: pointer;
}

.main .moon {
    position: absolute;
    right: 210px;
    top: 480px;
}

.grid {
    background: url(../images/gagarin_grid_4x.png);
    position: absolute;
    width: 100%;
    height: 100%;
}