.set {
    font-family: 'Exo 2';
    position: relative;
    width: 280px;
    float: left;
    margin-right: 40px;
    background: #0F0621;
    transition: 0.3s all; -ms-transition: 0.3s all; -webkit-transition: 0.3s all;
    top: 2000px;
}

.set.set-middle {
    top: -1000px;
}

.bank .set {
    top: 0;
}

.set .set-title {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    padding: 10px;
}

.set .set-price {
    font-size: 25px;
    font-weight: 700;
    padding: 15px;
    text-align: center;
    background: #362E46;
}

.set .set-description {
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    min-height: 150px;
    padding-top: 20px;
}

.set .set-description img {
    display: inline-block;
    margin-top: -35px;
    margin-bottom: -37px;
    width: 90px;
    margin-left: -20px;
    margin-right: -10px;
}

.set .set-footer {
    padding: 10px;
    padding-bottom: 70px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.set .btn-white {
    line-height: 2.1;
    padding: 15px 50px;
    padding-top: 10px;
}

.set .profit {
    font-size: 20px;
    padding: 30px;
}

.bank-page {
    top: 250px;
    left: 40px;
}