.bar {
    color: #fff;
    background: #409ed7;
    background-image: url(../images/button_texture.png);
    overflow: hidden;
    border-top: 2px solid #fff;
    text-align: center;
    border-bottom: 2px solid #fff;
}

.bar ul {
    background: #409ed7;
    list-style-type: none;

    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    margin-right: 30px;
}

.bar ul li {
    float: left;
    width: 25%;
    height: 50px;
    border-left: 2px solid #fff;
    margin-left: -1px;
    margin-right: -1px;
}

.bar ul li:first-child {
    border-left: none;
    margin-left: 0;
    margin-right: 0;
}

.bar ul li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;

    padding-top: 13px;
    font-family: 'Exo 2';
    font-weight: 400;
    font-size: 16px;
}

.bar ul li a:hover, .bar ul li a:hover {
    text-decoration: none;
}