.items .item .btn-buy-container {
    position: absolute;
    top: 0;
    left: 265px;
    opacity: 0;
    width: 30px;
    height: 78px;
    z-index: -1;
    transition: 1s all, 0.2s left, 0.2s opacity, 0.2s width; -ms-transition: 1s all, 0.2s left, 0.2s opacity, 0.2s width; -webkit-transition: 1s all, 0.2s left, 0.2s opacity, 0.2s width;
    transition-delay: 0s;

    background: rgba(20, 8, 39, 0.95);
    border: 1px solid rgba(255,255,255,0.4);
    border-left: none;
}

.items .item:hover .btn-buy-container {
    left: 465px;
    overflow: hidden;
    opacity: 1;
    transition-delay: 0s;
}

.items .item .btn-buy-container:hover {
    width: 200px;
    overflow: visible;
}

.items .item .btn-buy-container .btn-buy {
    opacity: 0;
}

.items .item .btn-buy-container:hover .btn-buy {
    opacity: 1;
}

.items .item .fabric-votes-price {
    font-family: 'Exo 2';
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
    top: 5px;
    width: 120px;
    background: rgba(0,0,0,0.95);
    padding: 20px;
    text-align: center;

    transition: 0.2s left, 0.5s opacity; -ms-transition: 0.2s left, 0.5s opacity; -webkit-transition: 0.2s left, 0.5s opacity;
    left: 31px;
    z-index: -1;
    opacity: 0;
}

.items .item .btn-buy-container:hover .fabric-votes-price {
    left: 201px;
    opacity: 1;
}

.items .item .btn-buy {
    font-family: 'Exo 2';
    font-weight: 700;
    font-size: 20px;

    position: static;

    cursor: pointer;
    margin-left: 35px;
    margin-top: 20px;

    opacity: 1;
}