.fabric-list .fabrics {
    color: #fff;
    font-family: 'Exo 2';
    font-size: 20px;
}

.fabrics {
    top: 1000px;
    transition: 0.5s all; -ms-transition: 0.5s all; -webkit-transition: 0.5s all;
}

.fabric-list .fabrics {
    top: 130px;
}

.fabric-list .fabrics.page-1 {
    left: 20px;
}

.fabric-list .fabrics.page-2 {
    left: 515px;
}