
.friends {
    color: #fff;
    background: #409ed7;
    background-image: url(../img/button_texture2.png);
    overflow: hidden;
    border-top: 2px solid #fff;
    text-align: center;
}

.friends .friends-list {
    background: #409ed7;
    margin-left: 30px;
    margin-right: 30px;
}

.friends .friend {
    font-family: 'Exo 2';
    line-height: 1.5;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    text-align: left;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.user .profile > span {
    display: block;
    line-height: 1.4;
}

.user .profile .name {
    font-weight: 400;
    font-size: 20px;
}

.user .profile .level {
    font-weight: 400;
    font-size: 18px;
}

.user .profile .titul {
    font-size: 16px;
    line-height: 1.1;
}

.friend .photo {
    float: left;
    overflow: hidden;
    width: 65px;
    height: 65px;
    background: #767676;
    border-radius: 100%;
    border: 3px solid #fff;
}

.friend .photo img {
    width: 100%;
    height: 100%;
}

.friend.online .photo {
    border: 3px solid #22FFF2;
}

.user .profile {
    float: left;
    margin-left: 15px;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 9999999;
}

.friends .friends-prev-btn, .friends .friends-next-btn {
    height: 110px;
    position: absolute;
    width: 30px;
    cursor: pointer;
    transition: 0.5s all; -ms-transition: 0.5s all; -webkit-transition: 0.5s all;
}

.friends .friends-next-btn {
    bottom: 0;
    right: 0;
}

.friends .friends-prev-btn:hover, .friends .friends-next-btn:hover {
    background: rgba(255,255,255,0.2);
}

.profile-popup {
    position: absolute;
    top: 100px;
    opacity: 0;
    transition: 0.4s all; -ms-transition: 0.4s all; -webkit-transition: 0.4s all;
    width: 200px;
    height: 170px;
    padding: 10px 15px;
    background: #fff;
    box-sizing: border-box;
    transform: scale(0); -ms-transform: scale(0); -webkit-transform: scale(0);
}

.profile-popup .panel {
    color: #000;
    height: 100%;
    width: 100%;
    font-family: 'Exo 2';
}

.profile-popup h3 {
    margin-bottom: 5px;
}

.user:hover .profile-popup, .profile-popup:hover {
    top: -160px;
    opacity: 1;
    margin-left: -30px;
    transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1);
}

.not-app-friend .js-request,
.not-app-friend .js-gift-message {
    display: none;
}
