.game-1 .moon {
    right: 425px;
    top: 540px;
}

.kalmar {
    position: absolute;
    top: 289px;
    left: 2000px;
    transform: scale(0.8) rotate(120deg); -ms-transform: scale(0.8) rotate(120deg); -webkit-transform: scale(0.8) rotate(120deg);
    z-index: 999;
    transition: 1s all, .1s opacity; -ms-transition: 1s all, .1s opacity; -webkit-transition: 1s all, .1s opacity;
    cursor: pointer;

    transform-origin: 30px 110px; -webkit-transform-origin: 30px 110px; -ms-transform-origin: 30px 110px;
}

.game-1 .btn-home {
    top: -300px;
}

.game-1 .money-info {
    top: -300px;
}

.game-1 .top {
    top: -300px;
}

.kalmar img {
    position: absolute;
    display: block;
}

.k1,
.k2,
.k3,
.k4,
.k5,
.k6,.k7,.k8,.k9 {
    transition: .5s all ease-in-out; -ms-transition: .5s all ease-in-out; -webkit-transition: .5s all ease-in-out;
}

.k1,
.k2,
.k3 {
    z-index: 9;
}

.k2 {
    top: -320px;
    z-index: 99;
}

.k3{
    transition: 0.3s all !important; -ms-transition: 0.3s all !important; -webkit-transition: 0.3s all !important;
}

.kalmar:active .k3 {
    transform: scale(1.3); -ms-transform: scale(1.3); -webkit-transform: scale(1.3);
}

.game-1 .moon-circle {
    opacity: 0;
}

.octopus-bar {
    width: 360px;
    position: absolute;
    top: 720px;
    left: 340px;
}

.octopus-bar .status {
    transition: 0.3s all; -ms-transition: 0.3s all; -webkit-transition: 0.3s all;
}

.k7,.k8,.k9 {
    transform: scale(-1, 1); -ms-transform: scale(-1, 1); -webkit-transform: scale(-1, 1);
}

.k7 {
    top: -170px;
    left: -70px;
    transform-origin: 90% 60%; -webkit-transform-origin: 90% 60%; -ms-transform-origin: 90% 60%;
}

.k8 {
    top: -20px;
    left: -138px;
    transform-origin: 90% 10%; -webkit-transform-origin: 90% 10%; -ms-transform-origin: 90% 10%;
}

.k9 {
    top: 0px;
    left: -90px;
    transform: scale(-1, 1) rotate(0deg); -ms-transform: scale(-1, 1) rotate(0deg); -webkit-transform: scale(-1, 1) rotate(0deg);
    transform-origin: 65% 10%; -webkit-transform-origin: 65% 10%; -ms-transform-origin: 65% 10%;
}

.k1 {
    left: -190px;
    top: -430px;
}

.k3 {
    top: -315px;
    left: -105px;
}

.k4 {
    left: -340px;
    top: -180px;
    transform: rotate(0deg); -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg);
    transform-origin: 90% 60%; -webkit-transform-origin: 90% 60%; -ms-transform-origin: 90% 60%;
}

.k5 {
    left: -334px;
    top: -30px;
    transform: rotate(0deg); -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg);
    transform-origin: 90% 10%; -webkit-transform-origin: 90% 10%; -ms-transform-origin: 90% 10%;
}

.k6 {
    top: -5px;
    left: -189px;
    transform: rotate(10deg); -ms-transform: rotate(10deg); -webkit-transform: rotate(10deg);
    transform-origin: 65% 10%; -webkit-transform-origin: 65% 10%; -ms-transform-origin: 65% 10%;
}
