.gifts-box {
    width: 800px !important;
}

.box-table {
    width: 100%;
    font-size: 20px;
    color: #fff;
}

.box-table tr td {
    padding: 10px;
    padding-right: 20px;
}

.box-table tr td:first-child {
    padding-right: 0;
}

.box-table tr td:last-child {
    text-align: right;
    min-width: 270px;
}

.box-table a.link {
    color: #fff;
    font-weight: 700;
    transition: 1s all; -ms-transition: 1s all; -webkit-transition: 1s all;
}

.link {
    color: #fff;
    font-weight: 700;
    transition: 1s all; -ms-transition: 1s all; -webkit-transition: 1s all;
    cursor: pointer;
}

.link:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.box-table img {
    width: 50px;
    border-radius: 100%;
    border: 2px solid #fff;
}

.box-table a.link:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}