.items {
    position: absolute;
    left: 40px;
    bottom: -1000px;
    transition: 1s all; -ms-transition: 1s all; -webkit-transition: 1s all;
}

.main .items {
    bottom: 0px;
    left: 40px;
}

body {
    font-family: 'Exo 2';
    vertical-align: top;
}

em {
    font-family: 'Exo 2';
    font-style: normal;
    font-size: 115%;
    line-height: 1;
}

.item {
    font-family: 'Exo 2';
    color: #fff;
    font-weight: 700;
    margin-top: 20px;
    position: relative;
    z-index: 999;
}

.item-header-content {
    background: rgba(20, 5, 38, 0.8);
    float: left;
    padding-right: 15px;
    width: 370px;
    position: relative;
}

.item .item-icon {
    width: 80px;
    height: 80px;
    float: left;
    position: relative;
}

.item .item-icon img {
    width: 70px;
    height: 70px;
    margin-left: 8px;
    margin-top: 5px;
}

.item .item-icon:before {
    content: ' ';
    width: 100%;
    height: 50%;
    position: absolute;
    border-top: 2px solid rgba(255,255,255,0.5);
    border-left: 2px solid rgba(255,255,255,0.5);
}

.item .item-header {
    overflow: hidden;
    cursor: pointer;
}

.item .item-info-btn {
    width: 80px;
    float: left;
    background: rgba(255, 255, 255, 0.15);
    text-align: center;
    font-family: 'Exo 2';
    font-weight: bold;
    font-style: italic;
    height: 80px;
    font-size: 60px;
    text-indent: -8px;
    position: relative;
    transition: 0.5s all; -ms-transition: 0.5s all; -webkit-transition: 0.5s all;
}

.item .item-info-btn:hover {
    background: rgba(255, 255, 255, 0.3);
}

.item .item-info-btn:after {
    content: ' ';
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.5);
}



.item {
    /*overflow: hidden;*/
}

.item .item-header-container {
    float: left;
    overflow: hidden;
    padding: 10px;
    font-size: 18px;
}

.item-header .item-title {
    font-size: 20px;
}

.item-header .item-price {
    font-family: 'Exo 2';
    font-size: 18px;
}

.item-header .item-count {
    font-family: 'Exo 2';
    font-size: 56px;
    float: right;
}

.item .item-price {
    font-size: 30px;
}

.item-content {
    overflow: hidden;
    background: rgba(20, 5, 38, 0.8);
    padding: 15px;
}

.item-description {
    font-family: 'Exo 2';
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;
    max-width: 435px;
}

.item-header-content:after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 5%;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    width: 90%;
    transition: 0.5s all; -ms-transition: 0.5s all; -webkit-transition: 0.5s all;
}

.item-footer {
    overflow: hidden;
    background: rgba(20, 5, 38, 0.8);
}

.item-footer-block {
    width: 50%;
    float: left;
    text-align: center;
    white-space: nowrap;
}

.item-footer-block, .item-footer-block * {
    font-family: 'Exo 2';
    font-size: 20px;
    font-weight: 700;
}

.item-footer-block strong {
    color: #8e8e8e;
}

.money {
    overflow: hidden;
}

.money span, .money-diff {
    color: #fff;
    font-family: 'Exo 2';
    font-weight: 700;
}

.money span {
    width: 35px;
    display: block;
    float: left;
}

.money span.symbol {
    width: 10px;
    min-height: 1px;
}

.money span.word {
    padding-left: 10px;
    width: auto;
}

.money-info {
    position: absolute;
    width: 465px;
    left: 40px;
    top: 35px;
    transition: 0.5s all; -ms-transition: 0.5s all; -webkit-transition: 0.5s all;
}

.money {
    text-align: center;
    font-size: 58px;
}

.money-diff {
    text-align: center;
    font-size: 35px;
    cursor: pointer;
    -webkit-transition: 0.3s all;
    -ms-transition: 0.3s all;
    transition: 0.3s all;
}

.money-diff:hover {
    text-shadow: 0 0 5px #fff;
}

.sprite {
    font-family: 'Exo 2';
    position: absolute;
    color: #fff;
    margin-top: -40px;
    font-weight: 700;
    font-size: 30px;
    pointer-events: none;
    z-index: 99999;
    text-shadow: 0 0 7px #000;
}

.mini-rating {
    position: absolute;
    background: rgba(20, 5, 38, 0.8);
    padding: 10px;
    right: -500px;
    bottom: 0px;
    transition: 1s all; -ms-transition: 1s all; -webkit-transition: 1s all;
}

.main .mini-rating {
    right: 40px;
    bottom: 0px;
}

.mini-rating .user {
    float: left;
    min-width: 120px;
    cursor: pointer;
    text-shadow: 0 0 4px #fff;
}

.mini-rating .photo {
    text-align: center;
}

.mini-rating .photo img {
    width: 90px;
}

.mini-rating .name {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: 'Exo 2';
    font-weight: 500;
    padding: 3px;
    min-height: 24px;
    padding-bottom: 5px;
}

.mini-rating .place {
    color: #fff;
    font-family: 'Exo 2';
    font-weight: 700;
    font-size: 25px;
    text-align: left;
    padding-left: 12px;
    padding-bottom: 5px;
}


.mini-rating:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 35px;
    border-top: 2px solid rgba(255,255,255,0.5);
    border-left: 2px solid rgba(255,255,255,0.5);
}

.mini-rating:after {
    content: ' ';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70px;
    height: 35px;
    border-bottom: 2px solid rgba(255,255,255,0.5);
    border-right: 2px solid rgba(255,255,255,0.5);
}

.btn-white {
    background: #fff;
    border: none;
    text-decoration: none;
    text-align: center;
    color: #555;
    padding: 10px 30px;
    padding-top: 5px;
    transition: 1s all, 0.2s opacity, 0.3s top; -ms-transition: 1s all, 0.2s opacity, 0.3s top; -webkit-transition: 1s all, 0.2s opacity, 0.3s top;
}

.btn-white:hover {
    box-shadow: 0 0 30px #fff;
}

.btn-green {
    background: #30BF5D;
    border: none;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 8px 30px;
    text-transform: uppercase;
    padding-top: 5px;
    transition: 1s all, 0.2s opacity, 0.3s top; -ms-transition: 1s all, 0.2s opacity, 0.3s top; -webkit-transition: 1s all, 0.2s opacity, 0.3s top;
}

.btn-green:hover {
    box-shadow: 0 0 30px #fff;
}

.btn-buy {
    display: block;
    position: absolute;
    min-width: 100px;
    top: 70px;
    left: 280px;
    opacity: 0;
}

.count {
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    background: rgba(71, 57, 89, 1);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 5px 2px 5px;
}

.timer {
    font-family: 'Exo 2';
    position: absolute;
    top: -30px;
    text-align: center;
    width: 40px;
    color: #fff;
}

.fabric-entity {
    position: absolute;
    width: 60px;
    transform: rotate(-48deg); -ms-transform: rotate(-48deg); -webkit-transform: rotate(-48deg);
    padding-top: 45px;
    z-index: 1;
    transition: 0.3s all; -ms-transition: 0.3s all; -webkit-transition: 0.3s all;
}

.fabric-entity:hover {
    /*opacity: 0.7;*/
    /*width: 70px;*/
}

.moon-main.moon-images {
    position: absolute;
    left: -214px;
    top: -225px;
    width: 318px;
    height: 322px;
}

.moon-main.moon-images .fabric-entity {
}

.item.disabled .item-header-content {
    background: rgba(51, 44, 62, 0.46);
    opacity: 0.8;
    cursor: default;
}

.fabric-entity[data-id="1"] {
    width: 35px;
    transition: 5s all ease-in-out; -ms-transition: 5s all ease-in-out; -webkit-transition: 5s all ease-in-out;
}

.fabric-entity[data-id="0"] {
    width: 50px;
}

.fabric-entity[data-id="2"] {
    display: block;
    width: 30px;
    transform-origin: 270px 0; -webkit-transform-origin: 270px 0; -ms-transform-origin: 270px 0;
    transform: rotate(0deg); -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg);
}

.fabric-entity[data-id="4"] {
    left: 106px !important;
    top: -42px !important;
    width: 80px !important;
}

.fabric-entity[data-id="3"] {
    left: 200px !important;
    top: -10px !important;
    width: 80px !important;
    transform: rotate(33deg) !important;
    -ms-transform: rotate(33deg) !important;
    -webkit-transform: rotate(40deg) !important;
}

.fabric-entity[data-id="5"] {
    left: 170px !important;
    top: -46px !important;
    transform: rotate(11deg) !important;
    -ms-transform: rotate(11deg) !important;
    -webkit-transform: rotate(11deg) !important;
}

.fabric-entity[data-id="6"] {
    left: -56px !important;
    top: -94px !important;
    display: block;
    width: 430px !important;
    transform: none !important;
}

.fabric-entity[data-id="8"] {
    width: 100px !important;
}

.fabric-entity[data-id="0"] {
    /*left: 160px !important;*/
    /*top: 160px !important;*/
    position: absolute;
    padding-top: 160px;
    /*transform: rotate(1040deg) !important;*/
    transform-origin: 0 0 !important;
}