html, body {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
}

body {
    height: 1250px;
    /*max-height: 920px !important;*/
    /*min-height: 920px !important;*/
    background: url(../images/gagarin_bg_4x.jpg);
    /*transition: 4s all; -ms-transition: 4s all; -webkit-transition: 4s all;*/
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    color: #fff;
    transform-origin: 0 0; -webkit-transform-origin: 0 0; -ms-transform-origin: 0 0;
    width: 1000px;
    /*height: 920px;*/
}

.grid {
    position: absolute;
}

.content {
    position: absolute;
    width: 100%;
    height: 780px;
}

*, *:after, *:before {
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    font-family: 'Exo 2';
}

a {
    text-decoration: none;
}

h1,h2,h3 {
    margin: 0;
}

.top {
    position: relative;
    z-index: 9999;
    top: 0;
    transition: 0.5s top; -ms-transition: 0.5s top; -webkit-transition: 0.5s top;
}

.logo img {
    width: 100%;
}

.logo {
    position: absolute;
    transition: 1s all; -ms-transition: 1s all; -webkit-transition: 1s all;
    top: -200px;
    overflow: hidden;
    width: 530px;
    left: -18px;
}

.moon .js-moon-dynamic {
    position: relative;
}

.main .logo {
    top: 5px;
}

.moon img.moon-main {
    width: 320px;
    display: block;
    position: absolute;
    margin-left: -216px;
    margin-top: -216px;
    transition: 0.2s all; -ms-transition: 0.2s all; -webkit-transition: 0.2s all;
}

.moon img.moon-circle {
    width: 350px;
    margin-left: -232px;
    margin-top: -234px;
}

.moon {
    position: absolute;
    transition: 0.5s all ease-out, 1s right; -ms-transition: 0.5s all ease-out, 1s right; -webkit-transition: 0.5s all ease-out, 1s right;
    cursor: pointer;
    top: 370px;
    right: -300px;
}

.moon:active {
    /*transform: scale(0.9); -ms-transform: scale(0.9); -webkit-transform: scale(0.9);*/
    /*transition: 0.3s all ease-out; -ms-transition: 0.3s all ease-out; -webkit-transition: 0.3s all ease-out;*/
}

.main .moon {
    position: absolute;
    right: 175px;
}

.moon .circle-red {
    position: absolute;
    left: -216px;
    top: -216px;
    width: 320px;
    height: 320px;
    border-radius: 100%;
    box-shadow: inset 0 0 0px red;
}

.grid {
    background: url(../images/gagarin_grid_4x.png);
    position: absolute;
    width: 100%;
    height: 100%;
}

.btn-home {
    z-index: 9999;
    position: absolute;
    top: 105px;
    right: 80px;
    font-size: 30px;
    display: block;
}

.btn-white {
    font-family: 'Exo 2';
}

.main .btn-home {
    opacity: 0;
    top: -100px;
}

.panel-body a {
    display: block;
}

.text-center {
    text-align: center;
}

.level-bar {
    position: absolute;
    bottom: 200px;
    width: 380px;
    display: none;

    transition: .5s all; -ms-transition: .5s all; -webkit-transition: .5s all;
    transition-delay: 0s;
    left: 1200px;
}

.main .level-bar {
    transition-delay: .3s;
    left: 580px;
}

.status-bar {
    background: rgba(118, 101, 141, 0.42);
    width: 100%;
    height: 15px;
}

.status-bar .status {
    width: 30%;
    height: 100%;
    background: rgba(254, 186, 72, 0.89);
    transition: 0.5s all; -ms-transition: 0.5s all; -webkit-transition: 0.5s all;
}

.level-info {
    overflow: hidden;
    margin-bottom: 5px;

    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Exo 2';
    font-weight: 700;
}

.level-info .level-name {
    float: left;
}

.level-info .level-status {
    float: right;
}

.right-btn {
    position: absolute;
    right: -45px;
    height: 150px;
    width: 50px;
}

.left-btn {
    position: absolute;
    left: -45px;
    height: 150px;
    width: 50px;
}

.left-btn, .right-btn {
    cursor: pointer;
}

.left-btn img, .right-btn img {
    width: 100%;
    margin-top: 50px;
    opacity: 0.8;
    transition: 0.3s all; -ms-transition: 0.3s all; -webkit-transition: 0.3s all;
}

.left-btn:hover img, .right-btn:hover img {
    opacity: 0.9;
}

.level-info .level-fabrics img {
    height: 20px;
    width: auto;
    margin-bottom: -5px;
    margin-left: 3px;
    margin-top: -18px;
}

.group-widget {
    height: 22px;
    width: 184px !important;
    position: absolute;
    left: 255px;
    transform: scale(1.3);
    bottom: 30px;
}

.level-info .level-fabrics span {
    margin-left: 5px;
}

.level-info .level-fabrics span:first-child {
    margin-left: 10px;
}

.level-info .level-fabrics {
    text-transform: none;
}