.message-background .message {
    position: relative;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background: rgba(46, 33, 61, 0.95);
    padding: 30px;
    opacity: 1;
    width: 300px;
    /*height: 100px;*/
    padding-bottom: 70px;
    overflow: hidden;
}

.message-background .message.lg {
    width: 700px;
}

.message-background {
    /*display: none;*/
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999999;
    transition: 0.3s all; -ms-transition: 0.3s all; -webkit-transition: 0.3s all;
    background: rgba(0, 0, 0, 0.4);
}

.message-background .message-footer {
    position: absolute;
    bottom: 2px;
    padding: 20px 0 20px 0;
    width: 100%;
    margin-left: -30px;
    text-align: center;
    transition: 0.3s opacity; -ms-transition: 0.3s opacity; -webkit-transition: 0.3s opacity;
    transition-delay: 0.3s;
}

.message-background.hidden .message-footer {
    opacity: 0;
    transition-delay: 0s;
}

.message-background.hidden {
    /*display: none;*/
    background: rgba(0,0,0,0);
}

.message:before, .message:after, .message, .message-content {
    transition: 0.3s all; -ms-transition: 0.3s all; -webkit-transition: 0.3s all;
}

.message-background.hidden .message {
    transition: 0.3s all; -ms-transition: 0.3s all; -webkit-transition: 0.3s all;
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
}

.message .message-title {
    font-family: 'Exo 2';
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: -10px;
    font-weight: 600;
}

.message .message-content {
    font-family: 'Exo 2';
    max-height: 300px;
    transition: 0.5s max-height, 0.3s opacity ease-in 0.2s; -ms-transition: 0.5s max-height, 0.3s opacity ease-in 0.2s; -webkit-transition: 0.5s max-height, 0.3s opacity ease-in 0.2s;
}

.message-background.hidden .message .message-content {
    max-height: 0;
    opacity: 0;
    transition: 0.5s max-height, 0.2s opacity ease-out 0s; -ms-transition: 0.5s max-height, 0.2s opacity ease-out 0s; -webkit-transition: 0.5s max-height, 0.2s opacity ease-out 0s;
}

.message-background.hidden .message:before, .message-background.hidden .message:after {
    width: 0;
    height: 0;
}

.message .btn-white {
    margin-left: 5px;
    margin-right: 5px;
}