.missions {
    position: absolute;
    top: -140px;
    left: 600px;
    transition: 0.5s all; -ms-transition: 0.5s all; -webkit-transition: 0.5s all;
    z-index: 9999;
}

.main .missions {
    top: 45px;
}

.missions .mission {
    width: 80px;
    height: 80px;
    margin-left: 28px;
    float: left;
    cursor: pointer;
    overflow: hidden;

    background-image: url(../images/circle/gagarin_icon400a.png);
    background-size: 100px;
    background-position: -10px -10px;
    transition: .1s all; -ms-transition: .1s all; -webkit-transition: .1s all;
}

.missions .mission:hover {
    background-image: url(../images/circle/gagarin_icon400b.png);
}

.missions .mission:active {
    transform: scale(0.8); -ms-transform: scale(0.8); -webkit-transform: scale(0.8);
    transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%;
}

.missions .mission img {
    transition: 0.5s all; -ms-transition: 0.5s all; -webkit-transition: 0.5s all;
}

.missions .mission:hover img {
    /*box-shadow: 0 0 30px #fff;*/
    /*width: 120%;*/
    /*height: 120%;*/
}