
.products {
    color: #fff;
    position: absolute;
    bottom: 0;
    min-width: 465px;
    background: rgba(20, 5, 38, 0.8);
}

.products-container {
    font-family: 'Exo 2';
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    height: 160px;
    width: 445px;
    background: rgba(0,0,0,0);

    top: -150px;
    left: 0px;
}

.product {
    display: block;
    float: left;
    position: relative;
    transition: 0.3s all; -ms-transition: 0.3s all; -webkit-transition: 0.3s all;
    width: 70px;
    height: 70px;
    padding: 0;
    overflow: visible;
}

.product .timer {
    width: 100%;
}

.product img {
    width: 80px;
    height: auto;
    margin-left: -4px;
    margin-top: -5px;
}

.products-container .product.hover, .product:hover {
    background: rgba(255, 255, 255, 0.15);
}

.product-tooltip {
    position: absolute;
    top: -5px;
    background: rgba(73, 61, 92, 0.72);
    color: #fff;
    transition: 0.3s all; -ms-transition: 0.3s all; -webkit-transition: 0.3s all;
    padding: 10px;
    height: 0; padding-top: 0; padding-bottom: 0; opacity: 0;
    margin-top: 96px;
    width: 445px;
}

.product-tooltip:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 35px;
    border-top: 2px solid rgba(255,255,255,0.5);
    border-left: 2px solid rgba(255,255,255,0.5);
}

.products:after {
    content: ' ';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70px;
    height: 35px;
    border-bottom: 2px solid rgba(255,255,255,0.5);
    border-right: 2px solid rgba(255,255,255,0.5);
}

.products:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 35px;
    border-top: 2px solid rgba(255,255,255,0.5);
    border-left: 2px solid rgba(255,255,255,0.5);
    transition: 0.3s all; -ms-transition: 0.3s all; -webkit-transition: 0.3s all;
}

.bar-lt:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    width: 70px;
    height: 35px;
    border-top: 2px solid rgba(255,255,255,0.5);
    border-left: 2px solid rgba(255,255,255,0.5);
}

.bar-rb:after {
    content: ' ';
    pointer-events: none;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70px;
    height: 35px;
    border-bottom: 2px solid rgba(255,255,255,0.5);
    border-right: 2px solid rgba(255,255,255,0.5);
}

.products-container.hover .products:before {
    content: '';
    opacity: 0;
    top: -95px;
}

.products-container.hover .product-tooltip {
    padding-top: 6px;
    padding-bottom: 10px;
    height: 80px;
    opacity: 1;
    margin-top: 0;
}

.product-description {
    font-weight: 600;
    font-size: 16px;
    width: 300px;
}

.product-header {
    font-size: 20px;
}


.products-container .btn-buy {
    top: 17px;
    padding-left: 10px;
    padding-right: 10px;
    left: 320px;
}

.products-container.hover .btn-buy {
    opacity: 1;
}

.balance {
    position: absolute;
    right: -10px;
    width: 98px;
    bottom: 7px;
    font-size: 30px;
    padding-bottom: 11px;
    color: #C4D3FF;
    transition: .3s all; -ms-transition: .3s all; -webkit-transition: .3s all;
    cursor: pointer;
    text-align: center;
}

.balance:hover {
    text-shadow: 0 0 4px #fff;
}

.balance img {
    width: 70px;
    position: absolute;
    bottom: -8px;
    right: -20px;
    display: block;
}