.rating-page .money-info,
.rating-clicks-page .money-info,
.rating-seconds-page .money-info {
    top: -300px;
}

.rating-page .rating-header,
.rating-clicks-page .rating-header,
.rating-seconds-page .rating-header {
    font-size: 25px;
    display: block;
    float: left;
    margin-right: 40px;
    padding: 7px;
    background: rgba(201, 201, 201, 0);
    transition: .5s all; -ms-transition: .5s all; -webkit-transition: .5s all;
    cursor: pointer;
}

.rating-page .rating-header.active, .rating-page .rating-header:hover,
.rating-clicks-page .rating-header.active, .rating-clicks-page .rating-header:hover,
.rating-seconds-page .rating-header.active, .rating-seconds-page .rating-header:hover {
    background: rgba(201, 201, 201, 0.3);
}

.rating-choice {
    transition: 0.5s all; -ms-transition: 0.5s all; -webkit-transition: 0.5s all;
    left: 40px;
    position: absolute;
    overflow: hidden;
    top: -75px;
}

.rating-page .rating-page .rating-choice,
.rating-clicks-page .rating-page .rating-choice,
.rating-seconds-page .rating-page .rating-choice {
    top: 55px;
}

.lead-board {
    position: absolute;
    transition: 0.5s all; -ms-transition: 0.5s all; -webkit-transition: 0.5s all;
    top: -500px;
    opacity: 0;
}

.rating-page .rating-page .lead-board,
.rating-clicks-page .rating-page .lead-board,
.rating-seconds-page .rating-page .lead-board {
    top: 150px;
    opacity: 1;
}

.lead-board .profile-photo img {
    border-radius: 100%;
    width: 90px;
    border: 4px solid #FFF;
}

.lead-board .profile-photo {
    position: absolute;
    top: -12px;
    left: 150px;
}

.lead-board .lead-cell {
    position: absolute;
    font-size: 40px;
    font-family: 'Exo 2';
    font-weight: 600;
    text-align: center;
    top: 8px;
}

.lead-board .lead-cell.place {
    left: 0px;
    width: 150px;
}

.lead-board .lead-cell.name {
    font-size: 25px;
    position: relative;
    text-align: left;
    left: 270px;
    top: 0;
    line-height: 1.3;
}

.lead-board .lead-profile {
    width: 1000px;
    height: 70px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    margin-bottom: 50px;
    transition: 1s all; -ms-transition: 1s all; -webkit-transition: 1s all;
}

.lead-board .lead-profile:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

.loading {
    background: rgba(31, 99, 34, 0.24);
    width: 100%;
    height: 100%;
    z-index: 999;
}

.loading img {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
}

.down, .up {
    position: absolute;
    top: 712px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s all; -ms-transition: 0.5s all; -webkit-transition: 0.5s all;
}

.down {
    left: -600px;
}

.up {
    left: 600px;
}

.rating-page .rating-page .down, .rating-page .rating-page .up,
.rating-clicks-page .rating-page .down, .rating-clicks-page .rating-page .up,
.rating-seconds-page .rating-page .down, .rating-seconds-page .rating-page .up {
    left: 0;
}

.up {
    top: 120px;
}

.down:hover, .up:hover {
    text-shadow: 0 0 5px #fff;
}
