.sponsor-board {
    text-align: center;
    padding-bottom: 40px;
}

.sponsor-board .sponsor {
    position: relative;
    cursor: pointer;
}

.sponsor-board-big .sponsor {
    display: inline-block;
    padding: 10px;
    background: #fff;

    width: 185px;
    margin-left: 10px;
    margin-right: 10px;
}

.sponsor-board-big .sponsor .sponsor-content,
.sponsor-board-medium .sponsor .sponsor-content,
.sponsor-board-small .sponsor .sponsor-content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255,255,255,0.8);
    color: #383838;
    font-weight: 600;
    font-size: 17px;
    padding-top: 80px;
    opacity: 0;
    transition: 0.3s all; -ms-transition: 0.3s all; -webkit-transition: 0.3s all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    transform: scale(0); -ms-transform: scale(0); -webkit-transform: scale(0);
}

.sponsor-board-medium .sponsor .sponsor-content {
    padding-top: 35px;
}

.sponsor-board-small .sponsor .sponsor-content {
    width: 120px;
    z-index: 999;
    height: 120px;
    left: -10px;
    top: -10px;
    padding-top: 23px;
    background: rgba(255,255,255,0.9);

}

.sponsor-board-big .sponsor:hover .sponsor-content,
.sponsor-board-medium .sponsor:hover .sponsor-content,
.sponsor-board-small .sponsor:hover .sponsor-content {
    opacity: 1;
    transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1);
}

.sponsor-board-big .sponsor.free:hover .sponsor-content,
.sponsor-board-medium .sponsor.free:hover .sponsor-content,
.sponsor-board-small .sponsor.free:hover .sponsor-content {
    transition-delay: 0.3s;
}

.sponsor-board-big .sponsor.free,
.sponsor-board-medium .sponsor.free,
.sponsor-board-small .sponsor.free {
    opacity: 0;
    transition: 0.7s all; -ms-transition: 0.7s all; -webkit-transition: 0.7s all;
}

.sponsor-board-big .sponsor.free:hover,
.sponsor-board-medium .sponsor.free:hover,
.sponsor-board-small .sponsor.free:hover {
    opacity: 1;
}

.sponsor-board-medium .sponsor {
    display: inline-block;
    padding: 7px;
    background: #fff;

    width: 115px;
    margin-left: 10px;
    margin-right: 10px;
}

.sponsor-board-small .sponsor {
    display: inline-block;
    padding: 5px;
    background: #fff;
    width: 86px;
    margin-left: 7px;
    margin-right: 7px;
}

.sponsor-board .sponsor img {
    width: 100%;
}

.sponsors-container {
    position: relative;
    top: 1080px;
    opacity: 0;
    transition: .5s all; -ms-transition: .5s all; -webkit-transition: .5s all;
}

body.sponsors .sponsors-container {
    top: 0;
    opacity: 1;
}