.page {
    font-family: 'Exo 2';
    position: absolute;
    color: #fff;
    left: 40px;
    top: 160px;
}

ul.todo li {
    position: relative;
    list-style-type: none;
    font-size: 30px;
    max-width: 500px;
    margin-bottom: 30px;
    margin-left: 80px;
}

ul.todo {
    max-height: 0;
    overflow: hidden;
    transition: 0.6s all; -ms-transition: 0.6s all; -webkit-transition: 0.6s all;
    width: 950px;

    margin: 0;
    padding: 0;
    margin-top: 40px;
}

.gifts ul.todo {
    max-height: 500px;
}

.todo .todo-status {
    position: absolute;
    left: -60px;
}


.todo .title {
    font-weight: 600;
}

.todo .description {
    font-size: 20px;
}

.todo .btn-white, .todo .vk-widget {
    position: absolute;
    top: 25px;
    font-size: 25px;
    left: 510px;
    white-space: nowrap;
}

.todo .vk-widget {
    top: 0;
}

.gifts-left-time {
    position: absolute;
    font-size: 150px;
    font-weight: 500;
    width: 100%;
    left: 180px;
    top: -400px;
    transition: 0.5s all; -ms-transition: 0.5s all; -webkit-transition: 0.5s all;
}

.gifts .gifts-left-time {
    top: 140px;
}

.free-gift-message {
    font-size: 40px;
    display: block;
    position: absolute;
    font-weight: 600;
    width: 690px;
    left: 140px;
    top: -300px;
    transition: 0.5s all; -ms-transition: 0.5s all; -webkit-transition: 0.5s all;
}

.gifts .free-gift-message {
    top: 60px;
}

.get-free-gift {
    font-size: 40px;
    white-space: nowrap;
    display: block;
    width: 600px;
    left: 130px;
    position: absolute;
    top: 1000px;
    transition: 1s all; -ms-transition: 1s all; -webkit-transition: 1s all;
}

.gifts .get-free-gift {
    top: 150px;
}