.click-panel {
    position: absolute;
    bottom: 80px;
    padding: 20px;
    background-color: rgba(20, 5, 38, 0.8);
    width: 424px;
    transition: 0.3s all;
    z-index: 99999;
}

.products-container.hover .click-panel {
    bottom: 170px;
}

.settings-panel {
    position: absolute;
    bottom: 80px;
    padding: 0px;
    width: 424px;
    transition: 0.3s all;
    z-index: 99999;
}

.settings-panel a img {
    width: 30px;
}

.settings-panel a {
    color: #fff;
    opacity: 0.4;
    -webkit-transition: 0.3s all;
    -ms-transition: 0.3s all;
    transition: 0.3s all;
}

.settings-panel a.active {
    opacity: 1;
}

.settings-panel a:hover {
    text-shadow: 0 0 5px #fff;
}

.click-panel a {
    float: right;
    background: rgb(255, 255, 255);
    padding: 0 10px;
    padding-bottom: 4px;
    margin-bottom: -4px;
    color: #565656;
    transition: 1s all;
}

.click-panel a:hover {
    box-shadow: 0 0 30px #fff;
}

.energy-bar {
    position: absolute;
    width: 383px;
    top: 540px;

    transition: .5s all; -ms-transition: .5s all; -webkit-transition: .5s all;
    transition-delay: 0s;
    left: 1200px;
}

.main .energy-bar {
    transition-delay: .3s;
    left: 577px;
}

#vk_subscribe {
    height: 0 !important;
}

.menu-panel {
    width: 465px;
    height: 160px;
    position: absolute;
    top: 195px;
    left: -700px;

    -webkit-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
}

.main .menu-panel {
    left: 51px;
}

.menu-panel .menu-link {
    float: left;
}

.js-planet-banner {
    -webkit-transition: 20s transform linear;
    -ms-transition: 20s transform linear;
    transition: 20s transform linear;
    cursor: pointer;
}