.user-page .moon {
    position: absolute;
    right: 175px;
}

.user-description {
    font-family: 'Exo 2';
    position: absolute;
    width: 480px;
    height: 130px;
    background: #fff;
    padding: 10px;

    left: 40px;
    top: 1500px;
    transition: 0.5s all; -ms-transition: 0.5s all; -webkit-transition: 0.5s all;
}

.user-page .user-description {
    top: 333px;
}

.user-description h2 {
    padding-left: 174px;
    padding-bottom: 20px;
}

.user-description .user-photo {
    position: absolute;
    bottom: 100px;
    left: 20px;
    z-index: 99999;
}

.user-description .user-photo img {
    width: 150px;
}

.user-page .user-description .description {
    padding-left: 10px;
    padding-right: 10px;
    color: #3C3C3C;
}

.user-page .money-info {
    opacity: 0;
}

.money-info.active {
    opacity: 0;
}

.user-page .money-info.active {
    opacity: 1;
}
